<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<script src="angular.min.js"></script>
	<script src = "app.js"></script>
</head>

<body>
	<div ng-controller="myCtr">
	<table border="1">
		<tr>
			<th>Name</th>
			<th>Id</th>
			<th>Photo</th>
			<th>Runs</th>
		</tr>
		
		<tr ng-repeat="player in players">
		<td>{{player.name}}</td>
		<td>{{player.id}}</td>
		<td><"img ng-src="{{player.photo}}</td>
		<td>{{player.runs}}</td>
		</tr>
		
	</table>
	</div>
	
	<!--
	<ul ng-repeat="x in array">
	<li>{{x}}</li>
	</ul>-->
</body>
</html>