
<!DOCTYPE html>
<html lang="en"  ng-app="testApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
   <script src="angular.min.js"></script>
   <script src="https://code.angularjs.org/1.6.7/angular-route.min.js"></script>
   <script src="app.js"></script>
</head>
<body>
    <header ng-include="'/views/header.html'"></header>
<!--<main ng-view></main>
<section ng-controller="MainCtr">
    <span class="lable">order: {{OrderByField}}, ReverseOrder: {{ReverseOrder}}</span>
    <table class="table table bordered">
        <tr><th><a href="#" ng-click="OrderByField='age'":Reversort=!Reversort>age<span ng-show="OrderByField='ag'"><span ng-show="Reversort=!Reversort"></a></th></tr>
        <tr ng-repeat="cmp in data.employee|orderBy:orderlyfield:reversort">
            <td></td>
        </tr>
    </table>
</section>-->

<form>
    <input type="text" minlength="5" maxlength="10" placeholder="Enter a name" required/>
    <input type="email" placeholder="Enter email" required />
    <input type="telephone" placeholder="Enter Phone Number" required/>
    <input type="submit" value="submit" />
</form>

</body>
</html>
